In [3]:
import pandas as pd

In [22]:
import json

In [29]:
top250 = pd.read_csv('top250_1.csv')
suggested_by250 = pd.read_csv('suggested_by250_1.csv')

In [30]:
top250[top250['suggestions'].isnull()]

,Unnamed: 0,id,name,rating,ratingCount,movieRank,genres,duration,seconds,description,releaseYear,countries,directors,casts,suggestions,keywords,quotes
87,88,tt0045152,Singin&apos; in the Rain,8.3,268472,0,"['Comedy', 'Musical', 'Romance']",1H43M,6180,A silent film star falls for a chorus girl jus...,1952,['United States'],"['Stanley Donen', 'Gene Kelly']","['Gene Kelly', ""Donald O'Connor"", 'Debbie Reyn...",NaN,"['movie studio', 'film within a film', 'tap da...","[""Lina. She can't act, she can't sing, she can..."

In [31]:
movies = pd.concat([top250, suggested_by250])

In [32]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 641 entries, 0 to 390
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   641 non-null    int64
 1   id           641 non-null    object
 2   name         641 non-null    object
 3   rating       635 non-null    float64
 4   ratingCount  641 non-null    int64
 5   movieRank    641 non-null    int64
 6   genres       641 non-null    object
 7   duration     250 non-null    object
 8   seconds      628 non-null    float64
 9   description  638 non-null    object
 10  releaseYear  636 non-null    float64
 11  countries    640 non-null    object
 12  directors    641 non-null    object
 13  casts        641 non-null    object
 14  suggestions  634 non-null    object
 15  keywords     641 non-null    object
 16  quotes       641 non-null    object
dtypes: float64(3), int64(3), object(11)
memory usage: 90.1+ KB

In [33]:
movies.head()

,Unnamed: 0,id,name,rating,ratingCount,movieRank,genres,duration,seconds,description,releaseYear,countries,directors,casts,suggestions,keywords,quotes
0,1,tt0111161,The Shawshank Redemption,9.3,2984193,0,['Drama'],2H22M,8520.0,A banker convicted of uxoricide forms a friend...,1994.0,['United States'],['Frank Darabont'],"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...","[['The Godfather', 'tt0068646', ['Crime', 'Dra...","['prison', 'based on the works of stephen king...","['I guess it comes down to a simple choice, re..."
1,2,tt0068646,The Godfather,9.2,2082354,0,"['Crime', 'Drama']",2H55M,10500.0,The aging patriarch of an organized crime dyna...,1972.0,['United States'],['Francis Ford Coppola'],"['Marlon Brando', 'Al Pacino', 'James Caan', '...","[['The Godfather Part II', 'tt0071562', ['Crim...","['mafia', 'patriarch', 'crime family', 'organi...",['My father is no different than any powerful ...
2,3,tt0468569,The Dark Knight,9.0,2964538,0,"['Action', 'Crime', 'Drama']",2H32M,9120.0,When a menace known as the Joker wreaks havoc ...,2008.0,"['United States', 'United Kingdom']",['Christopher Nolan'],"['Christian Bale', 'Heath Ledger', 'Aaron Eckh...","[['The Dark Knight Rises', 'tt1345836', ['Acti...","['psychopath', 'superhero', 'moral dilemma', '...","['What do you propose?', ""It's simple. We, uh,..."
3,4,tt0071562,The Godfather Part II,9.0,1404866,0,"['Crime', 'Drama']",3H22M,12120.0,The early life and career of Vito Corleone in ...,1974.0,['United States'],['Francis Ford Coppola'],"['Al Pacino', 'Robert De Niro', 'Robert Duvall...","[['The Godfather', 'tt0068646', ['Crime', 'Dra...","['revenge', '1950s', 'cuban revolution', 'sici...",['My father taught me many things here - he ta...
4,5,tt0050083,12 Angry Men,9.0,902377,0,"['Crime', 'Drama']",1H36M,5760.0,The jury in a New York City murder trial is fr...,1957.0,['United States'],['Sidney Lumet'],"['Henry Fonda', 'Lee J. Cobb', 'Martin Balsam'...","[[""Schindler's List"", 'tt0108052', ['Biography...","['jury', 'murder', 'dialogue driven', 'trial',...","[""Let me ask you this: Do you really think the..."

In [34]:
movies['suggestions']

0      [['The Godfather', 'tt0068646', ['Crime', 'Dra...
1      [['The Godfather Part II', 'tt0071562', ['Crim...
2      [['The Dark Knight Rises', 'tt1345836', ['Acti...
3      [['The Godfather', 'tt0068646', ['Crime', 'Dra...
4      [["Schindler's List", 'tt0108052', ['Biography...
                             ...
386    [['To the Forest of Firefly Lights', 'tt206170...
387    [['A Silent Voice: The Movie', 'tt5323662', ['...
388    [['Neeyat', 'tt21908676', ['Crime', 'Mystery',...
389    [['Shaitaan', 'tt27744786', ['Drama', 'Horror'...
390    [['Jawan', 'tt15354916', ['Action', 'Crime', '...
Name: suggestions, Length: 641, dtype: object